li{display: inline;}
li>a{text-decoration: none;
background-color: lightgoldenrodyellow;}
body{background-color: lightsteelblue;}
@media only screen and (max-width: 1024px){
	.cuar{display: none;}
}
@media only screen and (max-width: 768px){
	.cuar{display: none;}
	.tercer{display: none;}
}
@media only screen and (max-width: 480px){
	.cuar{display: none;}
	.tercer{display: none;}
	.segun{display: none;}
}